*{
    margin:0;
    padding:0;
    border:0;
}

body {
    background-color: #ffd93b;
    padding: 0;
    margin: 0;
    display: grid;
    grid-template-columns: 1.5fr 1fr;
    grid-template-rows: auto;
    grid-template-areas: 
        "header header"
        "body sidenav";
}

#header {
    grid-area: header;
    background: rgb(100,34,184);
    background: linear-gradient(180deg, rgba(100,34,184,1) 0%, rgba(255,115,203,1) 100%); 
    margin: 0;
    width: 100%;
    height: 150px;
    display: inline-grid;
    grid-template-rows: 4fr 1fr;
}

#header h1 {
    color: white;
    text-shadow: 6px 3px 10px rgba(0,0,0,0.7);
    font-size: 4rem;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    font-weight: bolder;
    justify-self: center;
    align-self: flex-end;
    text-transform: uppercase;
}

#header span {
    color: #545454;
    font-size: 0.8rem;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    vertical-align: bottom;
    justify-self: end;
    align-self: self-end;
    margin: 15px;
}

#header span > a {
    color: #545454;
    font-weight: bold;
    text-decoration: none;
    font-size: 0.8rem;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}

#sidenav {
    grid-area: sidenav;
    margin-left: 20px;
}

#sidenav li {
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    text-decoration: none;
    list-style: none;
    height: 120px;
}

#sidenav li > button {
    display: grid;
    grid-template-rows: 3fr 1fr;
    grid-template-columns: 3fr 1fr;
    grid-template-areas: 
        "menu-title ."
        "menu-title menu-subtitle";
    font-family: 'Rajdhani';
    background-color: inherit;
    color: inherit;
    text-decoration: none;
    text-transform: uppercase;
    text-align: start;
    cursor: pointer;
}

#sidenav .title{
    grid-area: menu-title;
    font-size: 1.6rem;
    font-weight: bold;
    margin-left: 20px;
    display: flex;
    align-self: center;
}

#sidenav .subtitle {
    grid-area: menu-subtitle;
    align-self: flex-end;
    justify-self: end;
    margin-right: 20px;
    font-size: 1.4rem;
}

.white {
    background-color: white;
    color: #6422b8;
}

.pink{
    background-color: #ff73cb;
    color: white;
}

.purple{
    background-color: #6422b8;
    color: #ffd93b;
}

#news {
    grid-area: body;
    background-color: #ffeda3;

}

#news-header{
    display: grid;
}

#icon-news {
    justify-self: center;
    align-self: center;
}

#title-complement {
    display: grid;
    grid-template-columns: 8fr minmax(60px, 60px);
    column-gap: 80px;
    margin: 0 50px;
    margin-bottom: 30px;
}

#image-news {
    width: 85%;
    max-width: 580px;
    align-self: center;
    justify-self: center;
}

#share {
    justify-content: center;
    align-items: center;
    display: grid;
}

#title {
    display: grid;
    grid-template-columns: 8fr minmax(60px, 60px);
    column-gap: 80px;
    margin: 50px;
    margin-bottom: 20px;
}

#title h1 {
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    font-size: 3.5rem;
    justify-self: center;
    align-self: center;
    text-align: center;
}

.icon {
    width: 64px;
    margin: 5px;
    justify-self: center;
    align-self: top;
}

#news-content {
    margin: 0 80px;
    margin-bottom: 30px;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    text-align: justify;
}

#news-content p, h3, h4 {
    margin: 10px 0;
}

#news-content ul {
    margin: 0 25px;
}

#news-content blockquote {
    background-color: #ff73cb;
    border-radius: 15px;
    padding: 10px;
    color: white;
    font-style: italic;
    font-weight: bold;
}