*{
    margin:0;
    padding:0;
    border:0;
}

body {
    background-color: #ffd93b;
    padding: 0;
    margin: 0;
    display: grid;
    grid-template-columns: 2.5fr 1fr;
    grid-template-rows: auto;
    grid-template-areas: 
        "header header"
        "body sidenav";
}

#header {
    grid-area: header;
    background: rgb(100,34,184);
    background: linear-gradient(180deg, rgba(100,34,184,1) 0%, rgba(255,115,203,1) 100%); 
    margin: 0;
    width: 100%;
    height: 150px;
    display: inline-grid;
    grid-template-rows: 4fr 1fr;
}

#header h1 {
    color: white;
    text-shadow: 0.08em 0 0.2em rgba(0,0,0,0.7);
    font-size: 4em;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    font-weight: bolder;
    justify-self: center;
    align-self: flex-end;
    text-transform: uppercase;
}

#header span {
    color: #545454;
    font-size: 0.8em;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    vertical-align: bottom;
    justify-self: end;
    align-self: self-end;
    margin: 15px;
}

#header span > a {
    color: #545454;
    font-weight: bold;
    text-decoration: none;
    font-size: 0.8em;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}

#sidenav {
    grid-area: sidenav;
}

#sidenav ul {
    list-style: none;
}

#sidenav li {
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    text-decoration: none;
}

#sidenav li > a {
    text-decoration: none;
    color: inherit;
}

.menu-white {
    background-color: white;
    color: #6422b8;
}

.menu-pink{
    background-color: #ff73cb;
    color: white;
}

.menu-purple{
    background-color: #6422b8;
    color: #ffd93b;
}

#news {
    grid-area: body;
    background-color: #ffeda3;

}

#title {
    display: grid;
    grid-template-columns: 8fr minmax(55px, 55px);
}

#title h1 {
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    font-size: 2em;
}

.image-news{
    width: 80%;
}
.icon {
    width: 50px;
}

